In [ ]:
# LIBRERIAS BASE

import io
from google.colab import files
import pandas as pd
import numpy as np
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [ ]:
def calculate_vif_(X):
    variables = list(range(X.shape[1]))
    vif = [variance_inflation_factor(X.iloc[:, variables].values, ix)
               for ix in range(X.iloc[:, variables].shape[1])]
    print(X.columns[variables])
    return vif

In [ ]:
#LOCAL DATA LOADING & PREVIEW

uploaded = files.upload()                                       ##Seleccionar archivo
df = pd.read_csv(io.BytesIO(uploaded['data5_v2.csv']))       ##dentro de los corchetes colocar el nombre del archivo original
df.head()

In [ ]:
#DATA LOADING & PREVIEW

url = 'https://raw.githubusercontent.com/AlejandroPSJ2/Data_Mining/main/Clase6_example1_car.csv'
df = pd.read_csv(url,sep=';')
df.head()

,Car_Name,N_years,Selling_Price_50_Percent,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,4,0,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,5,1,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,1,0,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,7,0,4.15,5200,Petrol,Dealer,Manual,0
4,swift,4,0,6.87,42450,Diesel,Dealer,Manual,0

In [ ]:
#DATA PREPARATION (VERY IMPORTANT TO DIFFERENTIATE "X" AND "DF")

X = df.drop(columns='Car_Name')  # PRIMERO ELIMINAR VARIABLES QUE NO VAN A IR EN EL ALGORITMO
X = pd.get_dummies(X)  # ACA SE CREAN DUMMIES (EN CASO HAYA ALGUNA VARIABLE CATEGORICA, SI NO HAY NO CREARA NADA)
X.head()

,N_years,Selling_Price_50_Percent,Present_Price,Kms_Driven,Owner,Fuel_Type_CNG,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Dealer,Seller_Type_Individual,Transmission_Automatic,Transmission_Manual
0,4,0,5.59,27000,0,0,0,1,1,0,0,1
1,5,1,9.54,43000,0,0,1,0,1,0,0,1
2,1,0,9.85,6900,0,0,0,1,1,0,0,1
3,7,0,4.15,5200,0,0,0,1,1,0,0,1
4,4,0,6.87,42450,0,0,1,0,1,0,0,1

In [ ]:
X = X.drop(columns=['Fuel_Type_CNG','Seller_Type_Individual','Transmission_Manual'])   # EN CASO ESTEMOS CREANDO DUMMIES PARA CATEGORICAS SIEMPRE ELIMINAR 1 DE LAS N OPCIONES QUE SE CREAN (SOLO QUEDARIAN N-1 FLAGS POR CADA CATEGORICA)
X.head()

,N_years,Selling_Price_50_Percent,Present_Price,Kms_Driven,Owner,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Dealer,Transmission_Automatic
0,4,0,5.59,27000,0,0,1,1,0
1,5,1,9.54,43000,0,1,0,1,0
2,1,0,9.85,6900,0,0,1,1,0
3,7,0,4.15,5200,0,0,1,1,0
4,4,0,6.87,42450,0,1,0,1,0

In [ ]:
# ALGORITHM FIT

dep = 'Selling_Price_50_Percent'  # ACA SOLO MODIFICAR LA VARIABLE DEPENDIENTE "dep", DEJAR TODO LO DEMAS IGUAL

mod = sm.Logit(X[dep], sm.add_constant(X.drop(columns=[dep])))
res = mod.fit()
print(res.summary())
print('')
print('VIF RESULTS')
print('')
calculate_vif_(X.drop(columns=[dep]))

Optimization terminated successfully.
         Current function value: 0.179929
         Iterations 9
                              Logit Regression Results
====================================================================================
Dep. Variable:     Selling_Price_50_Percent   No. Observations:                  301
Model:                                Logit   Df Residuals:                      292
Method:                                 MLE   Df Model:                            8
Date:                      Sat, 25 Mar 2023   Pseudo R-squ.:                  0.6752
Time:                              16:47:03   Log-Likelihood:                -54.159
converged:                             True   LL-Null:                       -166.75
Covariance Type:                  nonrobust   LLR p-value:                 3.104e-44
==========================================================================================
                             coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------------
const                     -7.3269      3.656     -2.004      0.045     -14.493      -0.160
N_years                    1.3844      0.208      6.671      0.000       0.978       1.791
Present_Price              0.2228      0.059      3.801      0.000       0.108       0.338
Kms_Driven              2.828e-06   8.37e-06      0.338      0.736   -1.36e-05    1.92e-05
Owner                      3.2230      1.103      2.923      0.003       1.062       5.384
Fuel_Type_Diesel          -3.2715      3.558     -0.919      0.358     -10.246       3.703
Fuel_Type_Petrol          -1.8920      3.482     -0.543      0.587      -8.716       4.932
Seller_Type_Dealer        -1.1450      0.673     -1.701      0.089      -2.464       0.174
Transmission_Automatic    -2.8738      1.215     -2.365      0.018      -5.256      -0.492
==========================================================================================

VIF RESULTS

Index(['N_years', 'Present_Price', 'Kms_Driven', 'Owner', 'Fuel_Type_Diesel',
       'Fuel_Type_Petrol', 'Seller_Type_Dealer', 'Transmission_Automatic'],
      dtype='object')

[4.817648447866542,
 3.2706154687035816,
 2.8926158231320014,
 1.0888988254334135,
 2.602186906698995,
 4.144129366544267,
 3.9970933494020184,
 1.3795976617071266]